._menuSeletMap {
    position: absolute;
    margin-left: 400px;



    select {
        display: inline;
        padding-left: 40px;
        border: none;
        width: 150px;
        height: 65px;
        margin-top: 140px;
        font-size: larger;
        font-weight: bolder;



    }
}

._mapPage {
    position: relative;
}