.contenu_statistic{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.items{
    background: white;
    margin: 10px;
    flex: 1;
    box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
    -webkit-box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: -1px 1px 6px 2px rgba(0,0,0,0.07);
    
}